body
{
	text-align: center;
	background-color: #dfe4ea;
	color: #57606f;
}
.titleText
{
	font-family: 'Lobster', cursive;
	font-size: 8rem;
	margin: 3% 0 0;
}
p
{
	font-family: 'Indie Flower', cursive;
	
}
.playerDice
{
	font-size: 2rem;
	display: inline-block;
	
}
.playerDice p
{
	margin: 10%;
}
.diceImg
{
	width: 80%;
}

.refreshButton
{
	display: block;
	background-color: rgb(156,6,12);
	border: none;
	outline: none;
	margin: 3% auto 0;
	padding: 10px 20px;
	color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 1.5rem;
}
.refreshButton:enabled
{
	border: none;
	outline: none;
	
}
footer
{
	font-size: 1rem;
	margin: 2% 0 0;
	color: #a4b0be;
}